@charset "utf-8";
@import './common/index.less';

@{b}zmz-anchor {
    display: block;
    overflow: hidden;
    width: 100%;
    position: relative;
    @{e}item {
        cursor: pointer;
        padding: 8px 0 8px 16px;
        line-height: 1;
        @{e}link {
            color: #515a6e;
            font-size: 14px;
        }
    }
    
    @{e}line {
        position: absolute;
        height: 100%;
        left: 0;
        top: 0;
        &::before {
            content: ' ';
            position: relative;
            width: 2px;
            height: 100%;
            display: block;
            background-color: #e8eaec;
            margin: 0 auto;
        }
        
        @{e}dot {
            display: inline-block;
            position: absolute;
            left: 50%;
            width: 2px;
            height: 18px;
            background-color: #1089ff;
            -webkit-transition: top 0.2s ease;
            transition: top 0.2s ease;
            transform: translateX(-50%);
            top: 8px;
        }
    }
}
