@charset "utf-8";
@import './common/index.less';

@zmz-barrage-item-move-width: 100%;

@{b}zmz-barrage {
    .theme-var(--zmz-barrage-item-move-width, @zmz-barrage-item-move-width);
}

@{b}zmz-barrage {
    position: relative;
    width: 100%;
    height: 100%;

    &.zmz-barrage--paused {
        .zmz-barrage__item--move {
            animation-play-state: paused;
        }
    }

    &.zmz-barrage--hidden {
        .zmz-barrage__wrap {
            visibility: hidden;
        }
    }

    &__wrap {
        position: absolute;
        visibility: visible;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    &__item {
        position: absolute;
        left: 100%;
        white-space: nowrap;
        font-size: 18px;
        color: #000;
        transform-style: preserve-3d;
        transition: transform .3s;

        &--move {
            animation-name: zmzBarrageMoveLeft;
            animation-timing-function: linear;
            animation-play-state: running;
            animation-duration: 25s;

            &.mz-barrage__item--paused {
                animation-play-state: paused;
            }
        }
    }
}

@keyframes zmzBarrageMoveLeft {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(var(--zmz-barrage-item-move-width));
    }
}