@charset "utf-8";
@import './common/index.less';

@zmz-datepicker-height: @global-default-size;
@zmz-datepicker-font-size: 12px;
@zmz-datepicker-background-color: #fff;
@zmz-datepicker-padding: 8px;
@zmz-datepicker-border-radius: 3px;
@zmz-datepicker-border-color: @global-border-color;
@zmz-datepicker-border-hover-color: @global-hover-border-color;
@zmz-datepicker-border-active-color: @global-theme-primary;
@zmz-datepicker-placeholder-color: @global-placeholder-color;
@zmz-datepicker-text-color: @global-theme-default;
@zmz-datepicker-text-active-color: @global-theme-primary;
@zmz-datepicker-text-hover-color: @global-theme-primary;
@zmz-datepicker-text-background-color: #fff;
@zmz-datepicker-text-background-hover-color: rgba(@global-theme-default, .05);
@zmz-datepicker-suffix-icon-color: rgba(@global-theme-default, .6);
@zmz-datepicker-suffix-icon-size: 14px;
@zmz-datepicker-prefix-icon-color: rgba(@global-theme-default, .6);
@zmz-datepicker-prefix-icon-size: 14px;
@zmz-datepicker-item-text-color: @global-theme-default;
@zmz-datepicker-item-text-font-size: 12px;
@zmz-datepicker-icon-color: #909399;
@zmz-datepicker-icon-size: 14px;
@zmz-datepicker-division-color: @global-theme-default;
@zmz-datepicker-division-font-size: 12px;
@zmz-datepicker-dropdown-background-color: #fff;
@zmz-datepicker-dropdown-border-color: @global-border-color;
@zmz-datepicker-dropdown-box-shadow: @global-box-shadow;

@{b}zmz-datepicker,
@{b}zmz-teleportdom--datepicker {
    .theme-var(--zmz-datepicker-height, @zmz-datepicker-height);
    .theme-var(--zmz-datepicker-font-size, @zmz-datepicker-font-size);
    .theme-var(--zmz-datepicker-background-color, @zmz-datepicker-background-color);
    .theme-var(--zmz-datepicker-padding, @zmz-datepicker-padding);
    .theme-var(--zmz-datepicker-border-radius, @zmz-datepicker-border-radius);
    .theme-var(--zmz-datepicker-border-color, @zmz-datepicker-border-color);
    .theme-var(--zmz-datepicker-placeholder-color, @zmz-datepicker-placeholder-color);
    .theme-var(--zmz-datepicker-border-hover-color, @zmz-datepicker-border-hover-color);
    .theme-var(--zmz-datepicker-border-active-color, @zmz-datepicker-border-active-color);
    .theme-var(--zmz-datepicker-text-color, @zmz-datepicker-text-color);
    .theme-var(--zmz-datepicker-text-hover-color, @zmz-datepicker-text-hover-color);
    .theme-var(--zmz-datepicker-text-active-color, @zmz-datepicker-text-active-color);
    .theme-var(--zmz-datepicker-text-background-color, @zmz-datepicker-text-background-color);
    .theme-var(--zmz-datepicker-text-background-hover-color, @zmz-datepicker-text-background-hover-color);
    .theme-var(--zmz-datepicker-suffix-icon-color, @zmz-datepicker-suffix-icon-color);
    .theme-var(--zmz-datepicker-suffix-icon-size, @zmz-datepicker-suffix-icon-size);
    .theme-var(--zmz-datepicker-prefix-icon-color, @zmz-datepicker-prefix-icon-color);
    .theme-var(--zmz-datepicker-prefix-icon-size, @zmz-datepicker-prefix-icon-size);
    .theme-var(--zmz-datepicker-item-text-color, @zmz-datepicker-item-text-color);
    .theme-var(--zmz-datepicker-item-text-font-size, @zmz-datepicker-item-text-font-size);
    .theme-var(--zmz-datepicker-icon-color, @zmz-datepicker-icon-color);
    .theme-var(--zmz-datepicker-icon-size, @zmz-datepicker-icon-size);
    .theme-var(--zmz-datepicker-division-color, @zmz-datepicker-division-color);
    .theme-var(--zmz-datepicker-division-font-size, @zmz-datepicker-division-font-size);
    .theme-var(--zmz-datepicker-dropdown-border-color, @zmz-datepicker-dropdown-border-color);
    .theme-var(--zmz-datepicker-dropdown-background-color, @zmz-datepicker-dropdown-background-color);
    .theme-var(--zmz-datepicker-dropdown-box-shadow, @zmz-datepicker-dropdown-box-shadow);
}

@{b}zmz-datepicker {
    position: relative;

    @{m}size-large {
        .theme-var(--zmz-datepicker-height, @global-large-size);
        .theme-var(--zmz-datepicker-font-size, @global-large-font);
        .theme-var(--zmz-datepicker-padding, @global-large-padding);
    }

    @{m}size-medium {
        .theme-var(--zmz-datepicker-height, @global-medium-size);
        .theme-var(--zmz-datepicker-font-size, @global-medium-font);
        .theme-var(--zmz-datepicker-padding, @global-medium-padding);
    }

    @{m}size-default {
        .theme-var(--zmz-datepicker-height, @global-default-size);
        .theme-var(--zmz-datepicker-font-size, @global-default-font);
        .theme-var(--zmz-datepicker-padding, @global-default-padding);
    }

    @{m}size-small {
        .theme-var(--zmz-datepicker-height, @global-small-size);
        .theme-var(--zmz-datepicker-font-size, @global-small-font);
        .theme-var(--zmz-datepicker-padding, @global-small-padding);
    }

    @{m}size-mini {
        .theme-var(--zmz-datepicker-height, @global-mini-size);
        .theme-var(--zmz-datepicker-font-size, @global-mini-font);
        .theme-var(--zmz-datepicker-padding, @global-mini-padding);
    }

    @{m}disabled {
        cursor: no-drop;
        opacity: 0.8;
        user-select: none;

        .zmz-datepicker__input {
            cursor: no-drop;
        }

        .zmz-datepicker__suffix {
            cursor: no-drop;
        }
    }

    @{m}readonly {
        .zmz-datepicker__wrap {
            &:hover {
                border-color: var(--zmz-datepicker-border-active-color);
            }
        }

        .zmz-datepicker__suffix {
            cursor: initial;
        }
    }

    @{e}wrap {
        border: 1px solid var(--zmz-datepicker-border-color);
        border-radius: var(--zmz-datepicker-border-radius);
        height: var(--zmz-datepicker-height);
        line-height: var(--zmz-datepicker-height);
        box-sizing: border-box;
        background-color: var(--zmz-datepicker-background-color);
        transition: all 0.5s;

        &:hover {
            border-color: var(--zmz-datepicker-border-hover-color);
        }
    }

    @{m}prefix {
        .zmz-datepicker__input {
            padding-left: var(--zmz-datepicker-height);
        }
    }

    @{e}prefix {
        position: absolute;
        z-index: 9;
        left: 1px;
        top: 0;
        bottom: 0;
        width: var(--zmz-datepicker-height);
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top-right-radius: var(--zmz-datepicker-border-radius);
        border-bottom-right-radius: var(--zmz-datepicker-border-radius);

        .zmz-datepicker__icon {
            color: var(--zmz-datepicker-prefix-icon-color);
            font-size: var(--zmz-datepicker-prefix-icon-size);
        }
    }

    @{m}suffix {
        .zmz-datepicker__input {
            padding-right: var(--zmz-datepicker-height);
        }
    }

    @{e}suffix {
        position: absolute;
        z-index: 9;
        right: 1px;
        top: 0;
        bottom: 0;
        width: var(--zmz-datepicker-height);
        height: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-top-right-radius: var(--zmz-datepicker-border-radius);
        border-bottom-right-radius: var(--zmz-datepicker-border-radius);

        .zmz-datepicker__icon {
            color: var(--zmz-datepicker-suffix-icon-color);
            font-size: var(--zmz-datepicker-suffix-icon-size);
        }
    }

    @{e}input {
        cursor: pointer;
        font-size: var(--zmz-datepicker-font-size);
        display: block;
        padding: 0 var(--zmz-datepicker-padding);
        border: none;
        outline: 0;
        color: var(--zmz-datepicker-text-color);
        height: 100%;
        width: 100%;
        background: transparent;
        box-sizing: border-box;
        transition: all 0.5s;

        &::-webkit-input-placeholder {
            /* WebKit, Blink, Edge */
            color: var(--zmz-datepicker-placeholder-color);
        }

        &:-moz-placeholder {
            /* Mozilla Firefox 4 to 18 */
            color: var(--zmz-datepicker-placeholder-color);
        }

        &::-moz-placeholder {
            /* Mozilla Firefox 19+ */
            color: var(--zmz-datepicker-placeholder-color);
        }

        &:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: var(--zmz-datepicker-placeholder-color);
        }
    }


    @{e}footer {
        border-top: 1px solid @global-border-color;
        padding: 10px;
        text-align: right;

        button {
            cursor: pointer;
            background: #fff;
            border: 1px solid rgba(215, 215, 215, 0.64);
            color: #3f536e;
            box-sizing: border-box;
            margin: 0;
            border-radius: 3px;
            height: 30px;
            padding: 0 12px;
            font-size: 12px;
            transition: all 0.2s;
            font-weight: 500;
            user-select: none;
        }
    }

    // 时间范围
    @{m}range {
        .zmz-datepicker__division {
            background: #fff;
            height: 100%;
            padding: 0 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--zmz-datepicker-division-color);
            font-size: var(--zmz-datepicker-division-font-size);
        }

        .zmz-datepicker__wrap {
            width: 100%;
            display: flex;
            align-items: center;
            padding: 0 var(--zmz-datepicker-height);
            box-sizing: border-box;
            position: relative;
        }

        .zmz-datepicker__input {
            padding: 0 var(--zmz-datepicker-padding);
            text-align: center;
        }
    }

    // 面板
    @{e}panel {
        min-width: 200px;
        box-shadow: var(--zmz-datepicker-dropdown-box-shadow);
        border: 1px solid var(--zmz-datepicker-dropdown-border-color);
        background: var(--zmz-datepicker-dropdown-background-color);
        border-radius: 3px;


        .zmz-datepicker__scrollbar {
            height: 100%;
        }

        @{m}range {
            min-width: 600px;

            .zmz-datepicker__panel {
                @{e}wrap {
                    @{e}content {
                        width: auto;
                    }
                }
            }
        }

        @{m}shortcut {
            .zmz-datepicker__panel__wrap__content {
                margin-left: 120px;
            }
        }

        @{e}wrap {
            position: relative;

            @{e}sidebar {
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                width: 120px;
                padding: 5px 0;
                box-sizing: border-box;
                border-right: 1px solid @global-border-color;

                @{e}item {
                    padding: 0 10px;
                    height: 30px;
                    line-height: 30px;
                    cursor: pointer;
                    font-size: 14px;
                    color: #3f536e;

                    .zmz-button {
                        width: 100%;
                        justify-content: flex-start;
                    }
                }
            }

            @{e}content {
                width: 300px;

                @{e}header {
                    padding: 10px 5px;
                    border-bottom: 1px solid @global-border-color;

                    @{e}date {
                        flex: 1;
                        padding: 0 5px;
                    }

                    @{e}time {
                        flex: 1;
                        padding: 0 5px;
                    }

                    @{e}range {
                        display: flex;
                        flex: 1;
                    }
                }

                @{e}wrap {
                    padding: 10px;
                }
            }
        }

        @{e}footer {
            padding: 10px 10px;
            text-align: right;
            border-top: 1px solid @global-border-color;

            @{e}button {
                margin-left: 10px;
            }
        }
    }

    // 范围
    @{e}range {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;

        @{e}wrap {
            flex: 1;

            &.zmz-datepicker__range__wrap--right {
                border-left: 1px solid #e5e5e5;
            }
        }
    }

    // 月
    @{e}months {
        @{e}month {
            @{e}ul {
                width: 100%;
                display: flex;
                align-items: center;

                @{e}li {
                    flex: 1;
                    height: 40px;
                    display: inline-block;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &:hover {
                        .zmz-datepicker__months__month__ul__li__text {
                            color: @global-theme-primary;
                        }
                    }

                    @{e}text {
                        padding: 4px 0;

                        @{e}label {
                            cursor: pointer;
                            display: block;
                            margin: 0 auto;
                            font-size: 12px;
                            color: @global-theme-default;
                            height: 25px;
                            line-height: 25px;
                            margin: 0 5px;
                        }

                        &.zmz-datepicker__months__month__ul__li__text {
                            @{m}active {
                                .zmz-datepicker__months__month__ul__li__text__label {
                                    color: @global-theme-primary;
                                    font-weight: (12pxWeight + 100);
                                }
                            }

                            @{m}current {
                                background: @global-theme-primary;
                                color: #fff;
                                border-radius: 15px;
                                padding: 0 5px;

                                .zmz-datepicker__months__month__ul__li__text__label {
                                    color: #fff;
                                }
                            }

                            // 范围
                            @{m}start {
                                .zmz-datepicker__months__month__ul__li__text__label {
                                    background: @global-theme-primary;
                                    color: #fff;
                                    border-radius: 15px;
                                }

                                .zmz-datepicker__months__month__ul__li__text {
                                    background: @global-theme-primary;
                                    color: #fff;
                                    border-radius: 3px;
                                }
                            }

                            @{m}motion {
                                width: 100%;
                                background: #f1f1f1;
                                color: #fff;

                                &.zmz-datepicker__months__month__ul__li__text--start {
                                    border-top-left-radius: 15px;
                                    border-bottom-left-radius: 15px;
                                }

                                &.zmz-datepicker__months__month__ul__li__text--end {
                                    border-top-right-radius: 15px;
                                    border-bottom-right-radius: 15px;
                                }
                            }

                            @{m}end {
                                .zmz-datepicker__months__month__ul__li__text__label {
                                    background: @global-theme-primary;
                                    color: #fff;
                                    border-radius: 15px;
                                }

                                .zmz-datepicker__months__month__ul__li__text {
                                    background: @global-theme-primary;
                                    color: #fff;
                                    border-radius: 3px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // 年
    @{e}years {
        @{e}year {
            @{e}ul {
                width: 100%;
                display: flex;
                align-items: center;

                @{e}li {
                    flex-basis: 25%;
                    height: 40px;
                    display: inline-block;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &:hover {
                        .zmz-datepicker__years__year__ul__li__text {
                            color: @global-theme-primary;
                        }
                    }

                    @{e}text {
                        @{e}label {
                            cursor: pointer;
                            display: block;
                            margin: 0 auto;
                            font-size: 12px;
                            color: @global-theme-default;
                            height: 25px;
                            line-height: 25px;
                            margin: 0 5px;
                        }

                        &.zmz-datepicker__years__year__ul__li__text {
                            @{m}active {
                                .zmz-datepicker__years__year__ul__li__text__label {
                                    color: @global-theme-primary;
                                    font-weight: (12pxWeight + 100);
                                }
                            }

                            @{m}current {
                                background: @global-theme-primary;
                                color: #fff;
                                border-radius: 15px;
                                padding: 0 5px;

                                .zmz-datepicker__years__year__ul__li__text__label {
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // 天
    @{e}days {
        @{e}week {
            border-bottom: 1px solid #f1f1f1;
            display: flex;
            align-items: center;

            @{e}li {
                flex: 1;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;

                @{e}text {
                    line-height: 36px;
                    height: 36px;
                    width: 36px;
                    display: inline-block;
                    font-size: 12px;
                    color: grey;
                }
            }
        }

        @{e}day {
            @{e}ul {
                width: 100%;
                display: flex;
                align-items: center;

                @{e}li {
                    flex: 1;
                    height: 40px;
                    display: inline-block;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    box-sizing: border-box;

                    &:hover {
                        .zmz-datepicker__days__day__ul__li__text {
                            color: @global-theme-primary;

                            &.zmz-datepicker__days__day__ul__li__text--current {
                                color: #fff;
                            }
                        }
                    }

                    @{e}text {
                        padding: 4px 0;

                        @{e}label {
                            cursor: pointer;
                            width: 24px;
                            height: (36px - 12);
                            line-height: (36px - 12);
                            display: block;
                            margin: 0 auto;
                            font-size: 12px;
                            color: @global-theme-default;
                        }

                        &.zmz-datepicker__days__day__ul__li__text {
                            @{m}current {
                                .zmz-datepicker__days__day__ul__li__text__label {
                                    background: @global-theme-primary;
                                    color: #fff;
                                    border-radius: 50%;
                                }
                            }

                            @{m}active {
                                .zmz-datepicker__days__day__ul__li__text__label {
                                    color: @global-theme-primary;
                                    font-weight: 600;
                                }

                                &.zmz-datepicker__days__day__ul__li__text--nomonth {
                                    color: @global-theme-primary;
                                }

                                &.zmz-datepicker__days__day__ul__li__text--current {
                                    .zmz-datepicker__days__day__ul__li__text__label {
                                        background: @global-theme-primary;
                                        color: #fff;
                                        border-radius: 50%;
                                    }
                                }
                            }

                            @{m}nomonth {
                                .zmz-datepicker__days__day__ul__li__text__label {
                                    color: rgba(@global-theme-default, 0.5);
                                }

                                &.zmz-datepicker__days__day__ul__li__text--current {
                                    .zmz-datepicker__days__day__ul__li__text__label {
                                        background: @global-theme-primary;
                                        color: #fff;
                                        border-radius: 50%;
                                    }
                                }
                            }

                            // 范围
                            @{m}start {
                                .zmz-datepicker__days__day__ul__li__text__label {
                                    background: @global-theme-primary;
                                    color: #fff;
                                    border-radius: 50%;
                                }

                                .zmz-datepicker__days__day__ul__li__text {
                                    background: @global-theme-primary;
                                    color: #fff;
                                    border-radius: 50%;

                                    &.zmz-datepicker__days__day__ul__li__text--nomonth {
                                        background: @global-theme-primary;
                                        color: #fff;
                                        border-radius: 50%;
                                    }
                                }
                            }

                            @{m}motion {
                                width: 100%;
                                background: #f1f1f1;
                                color: #fff;

                                &.zmz-datepicker__days__day__ul__li__text--start {
                                    border-top-left-radius: 15px;
                                    border-bottom-left-radius: 15px;
                                }

                                &.zmz-datepicker__days__day__ul__li__text--end {
                                    border-top-right-radius: 15px;
                                    border-bottom-right-radius: 15px;
                                }
                            }

                            @{m}end {
                                .zmz-datepicker__days__day__ul__li__text__label {
                                    background: @global-theme-primary;
                                    color: #fff;
                                    border-radius: 50%;
                                }

                                .zmz-datepicker__days__day__ul__li__text {
                                    background: @global-theme-primary;
                                    color: #fff;
                                    border-radius: 50%;

                                    &.zmz-datepicker__days__day__ul__li__text--nomonth {
                                        background: @global-theme-primary;
                                        color: #fff;
                                        border-radius: 50%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @{e}timesrange {
        display: flex;
    }

    @{e}times {
        display: flex;

        @{e}date {
            flex: 1;
            padding: 0 5px;
        }

        @{e}time {
            flex: 1;
            padding: 0 5px;
        }
    }

    @{e}title {
        margin: 10px;
        position: relative;
        cursor: pointer;
        height: 42px;
        text-align: center;
        line-height: 42px;
        display: block;

        @{e}text {
            padding: 0 7px;
            font-size: 16px;
            color: grey;

            @{e}label {
                margin: 0 5px;
            }
        }

        [class*='zmz-icon--'] {
            font-size: 12px;
        }

        @{e}prev {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            display: flex;

            @{e}year {
                height: 42px;
                width: 42px;
            }

            .zmz-datepicker__title__prev__disabled {
                color: rgba(@global-theme-default, 0.5);
                cursor: no-drop;
                opacity: 0.8;
                user-select: none;
            }

            @{e}month {
                height: 42px;
                width: 42px;
            }

            &.is-disabled {
                color: @global-theme-default;
                cursor: no-drop;
                opacity: 0.5;
                user-select: none;
            }
        }

        @{e}next {
            cursor: pointer;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            display: flex;

            .zmz-datepicker__title__next__disabled {
                color: rgba(@global-theme-default, 0.5);
                cursor: no-drop;
                opacity: 0.8;
                user-select: none;
            }

            @{e}year {
                height: 42px;
                width: 42px;
            }

            @{e}month {
                height: 42px;
                width: 42px;
            }

            &.is-disabled {
                color: @global-theme-default;
                cursor: no-drop;
                opacity: 0.5;
                user-select: none;
            }
        }
    }
}


.zmz-teleportdom.zmz-teleportdom--datepicker {

    &[data-popper-placement="top"],
    &[data-popper-placement="top-start"],
    &[data-popper-placement="top-end"] {
        transform-origin: center bottom;

        .zmz-teleportdom {
            &__arrow {
                bottom: -6px;
                border-width: 7px 7px 0px 7px;
                border-top-color: rgba(75, 94, 114, 11%);

                &:before {
                    bottom: 1px;
                    margin-left: -7px;
                    border-top-color: #fff;
                    border-bottom-width: 0
                }
            }
        }
    }

    &[data-popper-placement="bottom"],
    &[data-popper-placement="bottom-start"],
    &[data-popper-placement="bottom-end"] {
        transform-origin: center top;

        .zmz-teleportdom {
            &__arrow {
                top: -6px;
                border-width: 0px 7px 7px 7px;
                border-bottom-color: rgba(75, 94, 114, 11%);

                &:before {
                    top: 1px;
                    margin-left: -7px;
                    border-bottom-color: #fff;
                    border-top-width: 0
                }
            }
        }
    }

    &[data-popper-placement="left"],
    &[data-popper-placement="left-start"],
    &[data-popper-placement="left-end"] {
        transform-origin: right center;

        .zmz-teleportdom {
            &__arrow {
                right: -6px;
                border-width: 7px 0px 7px 7px;
                border-left-color: rgba(75, 94, 114, 11%);

                &:before {
                    right: 1px;
                    margin-top: -7px;
                    border-left-color: #fff;
                    border-right-width: 0
                }
            }
        }
    }

    &[data-popper-placement="right"],
    &[data-popper-placement="right-start"],
    &[data-popper-placement="right-end"] {
        transform-origin: left center;

        .zmz-teleportdom {
            &__arrow {
                left: -6px;
                border-width: 7px 7px 7px 0;
                border-right-color: rgba(75, 94, 114, 11%);

                &:before {
                    left: 1px;
                    margin-top: -7px;
                    border-right-color: #fff;
                    border-left-width: 0
                }
            }
        }
    }
}