@charset "utf-8";
@import './common/index.less';

@zmz-transfer-border-radius: 3px;
@zmz-transfer-border-color: @global-border-color;
@zmz-transfer-background-color: #fff;
@zmz-transfer-background-other-color: #f5f7fa;

@{b}zmz-transfer {
    .theme-var(--zmz-transfer-border-color, @zmz-transfer-border-color);
    .theme-var(--zmz-transfer-background-color, @zmz-transfer-background-color);
    .theme-var(--zmz-transfer-background-other-color, @zmz-transfer-background-other-color);
    .theme-var(--zmz-transfer-border-radius, @zmz-transfer-border-radius);
}

@{b}zmz-transfer {
    display: flex;
    align-items: center;

    @{m}disabled {
        cursor: no-drop;
        opacity: .6;
        user-select: none;
    }

    @{m}readonly {
        cursor: inherit;
        user-select: none;
    }

    @{e}panel {
        border: 1px solid var(--zmz-transfer-border-color);
        border-radius: var(--zmz-transfer-border-radius);
        overflow: hidden;
        background: var(--zmz-transfer-background-color);
        display: inline-block;
        vertical-align: middle;
        width: 200px;
        max-height: 100%;
        box-sizing: border-box;
        position: relative;

        @{e}header {
            height: 40px;
            background: var(--zmz-transfer-background-other-color);
            margin: 0;
            padding: 0 15px;
            border-bottom: 1px solid var(--zmz-transfer-border-color);
            box-sizing: border-box;
            color: #000;
            display: flex;
            align-items: center;
            justify-content: space-between;

            @{e}checked {
                display: block;
            }

            @{e}total {
                font-size: 12px;
                color: #909399;
            }
        }

        @{e}bodyer {
            height: 246px;
            overflow: hidden;
            overflow-y: auto;
            padding: 10px 0;

            @{e}item {
                display: flex;
                align-items: center;
                height: 30px;
                line-height: 30px;
                padding-left: 15px;
            }

            @{e}empty {
                text-align: center;
                padding-top: 20px;
                color: rgba(74, 93, 113, .5);
            }

            @{e}search {
                margin: 5px 15px 15px;

                &.zmz-input {
                    width: auto !important;

                    .zmz-input__input {
                        border-radius: 20px;
                    }
                }
            }
        }

        @{e}footer {
            background: #fff;
            border-top: 1px solid var(--zmz-transfer-border-color);
            height: 40px;
            padding: 0 15px;
            display: flex;
            align-items: center;
        }
    }

    @{e}button {
        display: flex;
        align-items: center;
        padding: 0 20px;

        @{e}btn {
            &+.zmz-transfer__button__btn {
                margin-left: 15px;
            }
        }
    }

    @{e}input {
        width: 0;
        height: 0;
        opacity: 0;
    }
}