@charset "utf-8";
@import './common/index.less';

@{b}zmz-music {
    @{e}audio {
        width: 0;
        height: 0;
        opacity: 0;
        display: none;
    }

    &.is-sm {
        .zmz-music__cover {
            display: flex;

            @{m}img {
                width: auto;
                height: 100%;
            }
        }

        .zmz-music__subject {
            flex-direction: column;
            position: relative;

            @{m}Other {
                float: none;
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }

            @{m}progress {
                float: none;
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: flex-end;

                @{e}line {
                    width: 100%;
                }
            }

            @{m}playnav {
                float: none;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
    }

    &.is-md {
        .zmz-music__cover {
            display: flex;
            flex-direction: column;

            @{m}img {
                width: 100%;
                height: auto;
                float: none;
            }

            @{m}info__songname {
                text-align: center;
            }

            @{m}info__author {
                text-align: center;
            }
        }

        .zmz-music__subject {
            flex-direction: column;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1;

            @{m}Other {
                float: none;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                box-sizing: border-box;
            }

            @{m}progress {
                float: none;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                box-sizing: border-box;

                @{e}line {
                    width: 100%;
                }
            }

            @{m}playnav {
                float: none;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                box-sizing: border-box;
            }
        }
    }

    &.is-mn {
        .zmz-music__console {
            display: flex;
            flex-direction: column;
        }

        .zmz-music__cover {
            display: flex;
            flex-direction: column;

            @{m}img {
                width: 100%;
                height: auto;
                float: none;
            }

            @{m}info {
                width: 100%;
                float: none;
                box-sizing: border-box;
            }

            @{m}info__songname {
                text-align: center;
            }

            @{m}info__author {
                text-align: center;
            }
        }

        .zmz-music__subject {
            flex-direction: column;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1;

            @{m}Other {
                float: none;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                box-sizing: border-box;
            }

            @{m}progress {
                float: none;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                box-sizing: border-box;

                @{e}line {
                    width: 100%;
                }
            }

            @{m}playnav {
                float: none;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                box-sizing: border-box;
            }
        }
    }

    @{e}console {
        padding: 15px;
        box-shadow: @global-box-shadow;
        border-radius: 3px;
        border: 1px solid @global-border-color;
        display: flex;

        &:after {
            content: '';
            display: block;
            overflow: hidden;
            clear: both;
        }
    }

    @{e}cover {
        float: left;

        &:after {
            content: '';
            display: block;
            overflow: hidden;
            clear: both;
        }

        @{m}img {
            width: 80px;
            height: 78px;
            float: left;

            img {
                width: 100%;
                height: 100%;
            }
        }

        @{m}info {
            float: left;
            width: 150px;
            height: 78px;
            padding: 0 15px;

            @{e}songname {
                padding: 8px 0;
                color: @global-theme-default;
                font-size: 16px;
                font-weight: bold;
            }

            @{e}author {
                font-size: 14px;
                color: @global-theme-default;
            }
        }
    }

    @{e}subject {
        line-height: 78px;
        flex: 1;
        display: flex;
        justify-content: space-around;

        @{m}playnav {
            float: left;

            &:after {
                content: '';
                display: block;
                overflow: hidden;
                clear: both;
            }

            div {
                margin: 0 5px;
            }

            @{e}prev {
                float: left;

                [class*='zmz-icon--'] {
                    padding: 10px;
                    text-align: center;
                    border-radius: 50%;
                    border: 1px solid @global-border-color;
                    font-size: 14px;
                    color: @global-theme-default;
                }
            }

            @{e}play {
                float: left;

                [class*='zmz-icon--'] {
                    padding: 10px;
                    text-align: center;
                    border-radius: 50%;
                    border: 1px solid @global-border-color;
                    font-size: 14px;
                    color: @global-theme-default;
                }
            }

            @{e}next {
                float: left;

                [class*='zmz-icon--'] {
                    padding: 10px;
                    text-align: center;
                    border-radius: 50%;
                    border: 1px solid @global-border-color;
                    font-size: 14px;
                    color: @global-theme-default;
                }
            }
        }

        @{m}progress {
            float: left;
            padding: 0 20px;
            height: 78px;
            display: flex;
            align-items: center;
            color: @global-theme-default;

            @{e}line {
                width: 200px;
            }

            @{e}timeStart {
                line-height: 78px;
                padding: 0 20px;
            }

            @{e}timeEnd {
                line-height: 78px;
                padding: 0 20px;
            }
        }

        @{m}Other {
            float: left;

            @{e}loop {
                float: left;
                line-height: 78px;
                height: 78px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 10px;

                [class*='zmz-icon--'] {
                    text-align: center;
                    line-height: 18px;
                    border-radius: 50%;
                    font-size: 20px;
                    color: @global-theme-default;
                    -webkit-font-smoothing: antialiased;
                }
            }

            @{e}volume {
                float: left;
                line-height: 78px;
                height: 78px;
                display: flex;
                align-items: center;
                justify-content: center;

                [class*='zmz-icon--'] {
                    text-align: center;
                    line-height: 18px;
                    border-radius: 50%;
                    font-size: 20px;
                    color: @global-theme-default;
                }
            }

            @{e}volumeline {
                float: left;
                padding: 0 20px;
                height: 78px;
                width: 100px;
                display: flex;
                align-items: center;
                color: @global-theme-default;
            }

            @{e}lyric {
                float: left;
                line-height: 78px;
                height: 78px;
                display: flex;
                align-items: center;

                [class*='zmz-icon--'] {
                    margin: 0 5px;
                }

                .zmz-icon--player-lyric {
                    text-align: center;
                    border-radius: 50%;
                    font-size: 20px;
                    color: @global-theme-default;
                }

                .zmz-icon--menu {
                    text-align: center;
                    border-radius: 50%;
                    font-size: 20px;
                    color: @global-theme-default;
                }
            }
        }
    }

    @{e}lrc {
        width: 100%;
        height: 358px;
        padding: 30px 0;
        background-color: #333;
        margin: 20px auto;
        color: #fff;
        overflow: hidden;
        position: relative;
        font-family: '微软雅黑';

        ul {
            li {
                width: 100%;
                height: 28px;
                line-height: 28px;
                list-style: none;
                text-align: center;

                &.currLrc {
                    color: @global-theme-success;
                    font-weight: bold;
                    font-size: 20px;
                }
            }
        }

        @{m}box {
            position: absolute;
            width: 100%;
            transition: top 0.5s;
        }

        @{m}overflow {
            height: 358px;
            width: 100%;
            overflow: hidden;
        }
    }

    @{e}song {
        width: 100%;
        background-color: #fff;
        margin: 20px auto;
        color: @global-theme-default;
        position: relative;
        box-shadow: 0 2px 12px 0 #cbcbcb;

        /* 设置滚动条的样式 */
        &::-webkit-scrollbar {
            width: 10px;
            background-color: @global-border-color;
        }

        /* 滚动槽 */
        &::-webkit-scrollbar-track {
            border-radius: 8px;
        }

        /* 滚动条滑块 */
        &::-webkit-scrollbar-thumb {
            border-radius: 8px;
            background: #7a899c;
        }

        @{m}list {
            padding: 20px 0;
            height: 358px;
            overflow-y: auto;
        }

        @{m}title {
            display: flex;
            padding: 0 20px;
            height: 48px;
            line-height: 48px;
            border-bottom: 1px solid @global-border-color;
            font-weight: bold;

            span {
                flex: 1;

                &:nth-child(1) {
                    flex: inherit;
                    width: 40px;
                }

                &:last-child {
                    text-align: right;
                }

                &.currLrc {
                    color: @global-theme-success;
                    font-weight: bold;
                    font-size: 20px;
                }
            }
        }

        @{m}item {
            line-height: 28px;
            list-style: none;
            text-align: left;
            margin: 0 20px;
            display: flex;
            border-bottom: 1px solid @global-border-color;
            cursor: pointer;

            &:hover {
                color: @global-theme-success;
                font-weight: bolder;
            }

            &.is-active {
                color: @global-theme-success;
                font-weight: bolder;
            }

            span {
                flex: 1;
                padding: 5px 10px;

                &:nth-child(1) {
                    flex: inherit;
                    width: 40px;
                }

                &:last-child {
                    text-align: right;
                }

                &.currLrc {
                    color: @global-theme-success;
                    font-weight: bold;
                    font-size: 20px;
                }
            }
        }

        @{m}box {
            position: absolute;
            width: 100%;
        }

        @{m}overflow {
            height: 358px;
            width: 100%;
            overflow: hidden;
        }
    }
}