@charset "utf-8";
@import './common/index.less';

@zmz-progress-padding-right: 50px;
@zmz-progress-width: 100%;
@zmz-progress-height: 3px;
@zmz-progress-border-radius: 3px;
@zmz-progress-text-color: @global-theme-info;
@zmz-progress-text-font-size: 12px;
@zmz-progress-line-background-color: #f4f5f9;
@zmz-progress-bar-background-color: @global-theme-info;

@{b}zmz-progress {
    .theme-var(--zmz-progress-padding-right, @zmz-progress-padding-right);
    .theme-var(--zmz-progress-width, @zmz-progress-width);
    .theme-var(--zmz-progress-height, @zmz-progress-height);
    .theme-var(--zmz-progress-border-radius, @zmz-progress-border-radius);
    .theme-var(--zmz-progress-text-color, @zmz-progress-text-color);
    .theme-var(--zmz-progress-text-font-size, @zmz-progress-text-font-size);
    .theme-var(--zmz-progress-line-background-color, @zmz-progress-line-background-color);
    .theme-var(--zmz-progress-bar-background-color, @zmz-progress-bar-background-color);
}

@{b}zmz-progress {
    width: 100%;
    padding-right: var(--zmz-progress-padding-right);
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;

    @{e}line {
        background: var(--zmz-progress-line-background-color);
        width: var(--zmz-progress-width);
        height: var(--zmz-progress-height);
        border-radius: var(--zmz-progress-border-radius);
    }

    @{e}bar {
        height: 100%;
        width: 0px;
        transition: all 0.5s;
        border-radius: 3px;
        background: var(--zmz-progress-bar-background-color);
    }

    @{e}text {
        position: absolute;
        right: 0;
        top: 50%;
        color: var(--zmz-progress-text-color);
        font-size: var(--zmz-progress-text-font-size);
        transform: translateY(-50%);
    }

    @{m}size-large {
        .theme-var(--zmz-progress-height, 9px);
    }

    @{m}size-medium {
        .theme-var(--zmz-progress-height, 6px);
    }

    @{m}size-default {
        .theme-var(--zmz-progress-height, 3px);
    }

    @{m}size-small {
        .theme-var(--zmz-progress-height, 2px);
    }

    @{m}size-mini {
        .theme-var(--zmz-progress-height, 1px);
    }

    @{m}default {
        .theme-var(--zmz-progress-bar-background-color, @global-theme-default);
    }

    @{m}info {
        .theme-var(--zmz-progress-bar-background-color, @global-theme-info);
    }

    @{m}primary {
        .theme-var(--zmz-progress-bar-background-color, @global-theme-primary);
    }

    @{m}success {
        .theme-var(--zmz-progress-bar-background-color, @global-theme-success);
    }

    @{m}warning {
        .theme-var(--zmz-progress-bar-background-color, @global-theme-warning);
    }

    @{m}error {
        .theme-var(--zmz-progress-bar-background-color, @global-theme-error);
    }
}