@charset "utf-8";
@import './common/index.less';

@zmz-audio-width: 100%;
@zmz-audio-height: 40px;
@zmz-audio-play-icon-font-size: 16px;
@zmz-audio-play-icon-color: @global-theme-default;
@zmz-audio-unite-font-size: 12px;
@zmz-audio-unite-color: @global-theme-default;
@zmz-audio-time-color: @global-theme-default;
@zmz-audio-time-font-size: 12px;
@zmz-audio-border-radius: 5px;
@zmz-audio-progress-line-color: @global-theme-success;
@zmz-audio-progress-dot-color: @global-basic-white;
@zmz-audio-progress-dot-box-shadow: 0 2px 12px 0 #b1b1b1;
@zmz-audio-progress-background-color: rgba(@global-theme-info, 0.3);
@zmz-audio-background-color: #fff;
@zmz-audio-box-shadow: 0 2px 12px 0 #b1b1b1;

@{b}zmz-audio {
    .theme-var(--zmz-audio-width, @zmz-audio-width);
    .theme-var(--zmz-audio-height, @zmz-audio-height);
    .theme-var(--zmz-audio-play-icon-font-size, @zmz-audio-play-icon-font-size);
    .theme-var(--zmz-audio-play-icon-color, @zmz-audio-play-icon-color);
    .theme-var(--zmz-audio-unite-font-size, @zmz-audio-unite-font-size);
    .theme-var(--zmz-audio-unite-color, @zmz-audio-unite-color);
    .theme-var(--zmz-audio-time-color, @zmz-audio-time-color);
    .theme-var(--zmz-audio-time-font-size, @zmz-audio-time-font-size);
    .theme-var(--zmz-audio-border-radius, @zmz-audio-border-radius);
    .theme-var(--zmz-audio-progress-line-color, @zmz-audio-progress-line-color);
    .theme-var(--zmz-audio-progress-dot-color, @zmz-audio-progress-dot-color);
    .theme-var(--zmz-audio-progress-dot-box-shadow, @zmz-audio-progress-dot-box-shadow);
    .theme-var(--zmz-audio-progress-background-color, @zmz-audio-progress-background-color);
    .theme-var(--zmz-audio-background-color, @zmz-audio-background-color);
    .theme-var(--zmz-audio-box-shadow, @zmz-audio-box-shadow);
}

@{b}zmz-audio {
    width: var(--zmz-audio-width);
    height: var(--zmz-audio-height);

    @{e}container {
        width: 0;
        height: 0;
        opacity: 0;
    }

    // 控制器开始
    @{e}controls {
        height: 100%;
        width: 100%;
        position: relative;
        box-shadow: var(--zmz-audio-box-shadow);
        border-radius: 5px;
        background: var(--zmz-audio-background-color);
        display: flex;
        align-items: center;
        justify-content: space-between;
        user-select: none;

        @{e}left {
            height: 100%;
            display: flex;
            align-items: center;
        }

        @{e}center {
            flex: 1;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 20px;
        }

        @{e}right {
            height: 100%;
            display: flex;
            align-items: center;
        }
    }

    @{e}play {
        min-width: 30px;

        .zmz-audio__play__icon {
            font-size: var(--zmz-audio-play-icon-font-size);
            color: var(--zmz-audio-play-icon-color);
        }
    }

    @{e}time {
        font-size: var(--zmz-audio-time-font-size);
        color: var(--zmz-audio-time-color);

        @{e}split {
            margin: 0 5px;
        }
    }

    // 菜单按钮公共
    @{e}unite {
        padding: 0 10px;
        cursor: pointer;
        font-size: var(--zmz-audio-unite-font-size);
        color: var(--zmz-audio-unite-color);
        display: flex;
        align-items: center;
        height: 100%;

        &:hover {
            .zmz-audio__unite__hover {
                display: block;
            }
        }
    }

    // 音量
    @{e}voice {
        position: relative;

        @{e}wrap {
            display: none;
            position: absolute;
            bottom: 40px;
            padding: 10px 0;
            border-radius: var(--zmz-audio-border-radius);
            z-index: 9;
            left: 50%;
            transform: translateX(-50%);

            @{e}fixed {
                height: 150px;
                background: #Fff;
                box-shadow: @global-box-shadow2;
                display: flex;
                align-items: center;
                flex-direction: column;
                padding: 15px 0;
                border-radius: 5px;
            }
        }
    }

    @{e}voiceNum {
        line-height: 1;
        padding-bottom: 10px;
        font-size: 12px;
    }

    @{e}voiceBox {
        border-radius: 5px;
        padding: 0px 20px;
        height: 97px;
        position: relative;

        @{e}bar {
            width: 2px;
            height: 100%;
            background-color: rgba(@global-theme-info, 0.3);
        }

        @{e}dot {
            position: absolute;
            top: 0;
            right: -4px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: @global-basic-white;
            transition: all 0.2s;
            cursor: pointer;
            transform: translateY(-50%);
            box-shadow: @global-box-shadow2;
        }

        @{e}played {
            position: absolute;
            bottom: 0px;
            height: 100%;
            background: @global-theme-success;
            width: 2px;
            border-radius: 3px;
        }
    }

    // 倍速
    @{e}double {
        position: relative;

        @{e}wrap {
            display: none;
            position: absolute;
            bottom: 40px;
            padding: 10px 0;
            width: 90px;
            border-radius: var(--zmz-audio-border-radius);
            z-index: 9;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    @{e}doubleBox {
        background: @global-basic-white;
        box-shadow: @global-box-shadow2;
        border-radius: 5px;
        padding: 10px 0;

        @{e}li {
            line-height: 25px;
            padding: 0 10px;
            text-align: center;

            &+.zmz-audio__doubleBox__li {
                margin-top: 10px;
            }

            span {
                font-size: 12px;
            }

            &:hover {
                span {
                    border-radius: 20px;
                    background: rgba(@global-theme-info, .1);
                    display: block;
                }
            }

            &.is-active {
                &.zmz-icon--check {
                    display: block;

                    &:before {
                        position: absolute;
                        left: 15px;
                    }

                    ;

                    span {
                        border-radius: 20px;
                        background: rgba(@global-theme-info, .1);
                        display: block;
                        font-weight: bold;
                    }
                }
            }
        }
    }

    // 清晰度
    @{e}definition {
        position: relative;

        @{e}wrap {
            display: none;
            position: absolute;
            bottom: 40px;
            padding: 10px 0;
            width: 90px;
            border-radius: var(--zmz-audio-border-radius);
            z-index: 9;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    @{e}definitionBox {
        background: @global-basic-white;
        box-shadow: @global-box-shadow2;
        border-radius: 5px;
        padding: 10px 0;

        @{e}li {
            line-height: 25px;
            padding: 0 10px;
            text-align: center;

            &+.zmz-audio__definitionBox__li {
                margin-top: 10px;
            }

            span {
                font-size: 12px;
            }

            &:hover {
                span {
                    border-radius: 20px;
                    background: rgba(@global-theme-info, .1);
                    display: block;
                }
            }

            &.is-active {
                &.zmz-icon--check {
                    display: block;

                    &:before {
                        position: absolute;
                        left: 15px;
                    }

                    ;

                    span {
                        border-radius: 20px;
                        background: rgba(@global-theme-info, .1);
                        display: block;
                        font-weight: bold;
                    }
                }
            }
        }
    }

    // 控制器结束

    // 进度条
    @{e}timeaxis {
        position: relative;
        height: 6px;
        width: 100%;
    }

    @{e}progress {
        width: 100%;
        height: 50%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        transition: all .2s;

        &:hover {
            height: 100%;

            .zmz-audio__progress__played {
                height: 100%;
            }

            .zmz-audio__progress__bar {
                height: 100%;
            }

            .zmz-audio__progress__dot {
                opacity: 1;
            }
        }

        @{e}bar {
            width: 100%;
            height: 100%;
            background-color: var(--zmz-audio-progress-background-color);
            transition: all 0.2s;
            border-radius: 3px;
        }

        @{e}dot {
            position: absolute;
            top: 50%;
            right: -7px;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: var(--zmz-audio-progress-dot-color);
            box-shadow: var(--zmz-audio-progress-dot-box-shadow);
            transition: all 0.2s;
            cursor: pointer;
            opacity: 0;
            transform: translateY(-50%);
            transition: all 0.2s;
        }

        @{e}played {
            position: absolute;
            left: 0px;
            right: 0px;
            height: 100%;
            background: var(--zmz-audio-progress-line-color);
            width: 0%;
            border-radius: 3px;
        }
    }
}