@charset "utf-8";
@import './common/index.less';

@zmz-radio-icon-size: 0px;
@zmz-radio-height: @global-default-size;
@zmz-radio-padding: @global-default-padding;
@zmz-radio-font-size: @global-default-font;
@zmz-radio-background-color: #fff;
@zmz-radio-border-color: @global-border-color;
@zmz-radio-border-radius: 3px;
@zmz-radio-text-color: @global-theme-default;

@{b}zmz-radio,
@{b}zmz-radiogroup {
    .theme-var(--zmz-radio-height, @zmz-radio-height);
    .theme-var(--zmz-radio-icon-size, @zmz-radio-icon-size);
    .theme-var(--zmz-radio-font-size, @zmz-radio-font-size);
    .theme-var(--zmz-radio-background-color, @zmz-radio-background-color);
    .theme-var(--zmz-radio-border-radius, @zmz-radio-border-radius);
    .theme-var(--zmz-radio-border-color, @zmz-radio-border-color);
    .theme-var(--zmz-radio-text-color, @zmz-radio-text-color);
}

@{b}zmz-radio {
    cursor: pointer;
    margin-right: 15px;
    height: var(--zmz-radio-height);
    display: inline-flex;
    align-items: center;
    position: relative;
    user-select: none;

    // 尺寸
    // 大
    @{m}size-large {
        .theme-var(--zmz-radio-height, @global-large-size);
        .theme-var(--zmz-radio-font-size, @global-large-font);
        .theme-var(--zmz-radio-padding, @global-large-padding);
    }

    // 中
    @{m}size-medium {
        .theme-var(--zmz-radio-height, @global-medium-size);
        .theme-var(--zmz-radio-font-size, @global-medium-font);
        .theme-var(--zmz-radio-padding, @global-medium-padding);
    }

    // 默认
    @{m}size-default {
        .theme-var(--zmz-radio-height, @global-default-size);
        .theme-var(--zmz-radio-font-size, @global-default-font);
        .theme-var(--zmz-radio-padding, @global-default-padding);
    }

    // 小
    @{m}size-small {
        .theme-var(--zmz-radio-height, @global-small-size);
        .theme-var(--zmz-radio-font-size, @global-small-font);
        .theme-var(--zmz-radio-padding, @global-small-padding);
    }

    // 迷你
    @{m}size-mini {
        .theme-var(--zmz-radio-height, @global-mini-size);
        .theme-var(--zmz-radio-font-size, @global-mini-font);
        .theme-var(--zmz-radio-padding, @global-mini-padding);
    }

    @{m}border {
        border: 1px solid var(--zmz-radio-border-color);
        padding: 0 var(--zmz-radio-padding);
        border-radius: var(--zmz-radio-border-radius);
    }

    @{e}wrap {
        display: inline-flex;
        align-items: center;
    }

    @{e}icon {
        width: calc(var(--zmz-radio-height) / 2);
        height: calc(var(--zmz-radio-height) / 2);
        border: 1px solid var(--zmz-radio-border-color);
        background: var(--zmz-radio-background-color);
        display: inline-block;
        border-radius: 50%;
        position: relative;
        box-sizing: border-box;

        @{e}inner {
            display: inline-block;
            width: var(--zmz-radio-icon-size);
            height: var(--zmz-radio-icon-size);
            position: absolute;
            top: 50%;
            left: 50%;
            transition: all 0.2s;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            background: #fff;
        }

        &+.zmz-radio__text {
            margin-left: 6px;
        }
    }

    @{e}input {
        width: 0;
        height: 0;
        opacity: 0;
    }

    @{e}text {
        display: inline-block;
        font-size: var(--zmz-radio-font-size);
        color: var(--zmz-radio-text-color);
    }

    @{m}checked {
        .theme-var(--zmz-radio-text-color, @global-theme-primary);
        .theme-var(--zmz-radio-icon-size, 4px);
        .theme-var(--zmz-radio-background-color, @global-theme-primary);
        .theme-var(--zmz-radio-border-color, @global-theme-primary);
    }

    &.zmz-radio {
        @{m}disabled {
            cursor: no-drop;
            opacity: 0.5;
        }

        @{m}readonly {
            cursor: initial;
        }
    }
}

@{b}zmz-radiogroup {
    display: inline-block;

    @{m}vertical {
        .zmz-radio {
            display: flex;

            &.zmz-radio--border {
                margin-bottom: 15px;
            }
        }
    }

    @{m}button {
        .theme-var(--zmz-radio-text-color, #fff);
        .theme-var(--zmz-radio-background-color, @global-theme-primary);
        .theme-var(--zmz-radio-border-color, @global-theme-primary);

        &.zmz-radiogroup--button-border {
            .theme-var(--zmz-radio-text-color, #fff);
            .theme-var(--zmz-radio-background-color, #fff);
            .theme-var(--zmz-radio-border-color, @global-theme-primary);

            .zmz-radio--checked {
                .theme-var(--zmz-radio-text-color, @global-theme-primary);
                .theme-var(--zmz-radio-background-color, #fff);
                .theme-var(--zmz-radio-border-color, @global-theme-primary);
            }
        }

        .zmz-radio {
            background: var(--zmz-radio-background-color);
            border: 1px solid var(--zmz-radio-border-color);
            padding: 0 var(--zmz-radio-padding);
            color: var(--zmz-radio-text-color);
            border-radius: 0;
            margin-right: 0;
            border-left: 0;

            @{m}checked {
                .theme-var(--zmz-radio-text-color, #fff);
                .theme-var(--zmz-radio-border-color, @global-theme-primary);
                .theme-var(--zmz-radio-background-color, @global-theme-primary);
                box-shadow: -1px 0 0 0 var(--zmz-radio-border-color);
                z-index: 1;
            }

            &:first-child {
                border-radius: var(--zmz-radio-border-radius) 0 0 var(--zmz-radio-border-radius);
                border-left: 1px solid var(--zmz-radio-border-color);

                &.zmz-radio--checked {
                    box-shadow: none;
                    border-color: var(--zmz-radio-border-color);
                }
            }

            &:last-child {
                border-radius: 0 var(--zmz-radio-border-radius) var(--zmz-radio-border-radius) 0;
            }
        }
    }

    // 尺寸
    // 大
    &.zmz-radiogroup {
        @{m}size-large {
            .zmz-radio {
                .theme-var(--zmz-radio-height, @global-large-size);
                .theme-var(--zmz-radio-font-size, @global-large-font);
                .theme-var(--zmz-radio-padding, @global-large-padding);
            }
        }

        // 中
        @{m}size-medium {
            .zmz-radio {
                .theme-var(--zmz-radio-height, @global-medium-size);
                .theme-var(--zmz-radio-font-size, @global-medium-font);
                .theme-var(--zmz-radio-padding, @global-medium-padding);
            }
        }

        // 默认
        @{m}size-default {
            .zmz-radio {
                .theme-var(--zmz-radio-height, @global-default-size);
                .theme-var(--zmz-radio-font-size, @global-default-font);
                .theme-var(--zmz-radio-padding, @global-default-padding);
            }
        }

        // 小
        @{m}size-small {
            .zmz-radio {
                .theme-var(--zmz-radio-height, @global-small-size);
                .theme-var(--zmz-radio-font-size, @global-small-font);
                .theme-var(--zmz-radio-padding, @global-small-padding);
            }
        }

        // 迷你
        @{m}size-mini {
            .zmz-radio {
                .theme-var(--zmz-radio-height, @global-mini-size);
                .theme-var(--zmz-radio-font-size, @global-mini-font);
                .theme-var(--zmz-radio-padding, @global-mini-padding);
            }
        }
    }
}