@charset "utf-8";
@import './common/index.less';

@zmz-cascader-height: @global-default-size;
@zmz-cascader-font-size: 12px;
@zmz-cascader-background-color: #fff;
@zmz-cascader-padding: 8px;
@zmz-cascader-border-radius: 3px;
@zmz-cascader-border-color: @global-border-color;
@zmz-cascader-border-hover-color: @global-hover-border-color;
@zmz-cascader-border-active-color: @global-theme-primary;
@zmz-cascader-placeholder-color: @global-placeholder-color;
@zmz-cascader-text-color: @global-theme-default;
@zmz-cascader-text-active-color: @global-theme-primary;
@zmz-cascader-text-hover-color: @global-theme-primary;
@zmz-cascader-text-background-color: #fff;
@zmz-cascader-suffix-icon-color: rgba(@global-theme-default, .6);
@zmz-cascader-suffix-icon-size: 12px;
@zmz-cascader-item-text-color: #909399;
@zmz-cascader-item-text-font-size: 12px;
@zmz-cascader-icon-color: #909399;
@zmz-cascader-icon-size: 12px;
@zmz-cascader-dropdown-background-color: #fff;
@zmz-cascader-dropdown-border-color: @global-border-color;
@zmz-cascader-dropdown-box-shadow: @global-box-shadow;

@{b}zmz-cascader,
@{b}zmz-teleportdom--cascader {
    .theme-var(--zmz-cascader-height, @zmz-cascader-height);
    .theme-var(--zmz-cascader-font-size, @zmz-cascader-font-size);
    .theme-var(--zmz-cascader-background-color, @zmz-cascader-background-color);
    .theme-var(--zmz-cascader-padding, @zmz-cascader-padding);
    .theme-var(--zmz-cascader-border-radius, @zmz-cascader-border-radius);
    .theme-var(--zmz-cascader-border-color, @zmz-cascader-border-color);
    .theme-var(--zmz-cascader-placeholder-color, @zmz-cascader-placeholder-color);
    .theme-var(--zmz-cascader-border-hover-color, @zmz-cascader-border-hover-color);
    .theme-var(--zmz-cascader-border-active-color, @zmz-cascader-border-active-color);
    .theme-var(--zmz-cascader-text-color, @zmz-cascader-text-color);
    .theme-var(--zmz-cascader-text-hover-color, @zmz-cascader-text-hover-color);
    .theme-var(--zmz-cascader-text-active-color, @zmz-cascader-text-active-color);
    .theme-var(--zmz-cascader-text-background-color, @zmz-cascader-text-background-color);
    .theme-var(--zmz-cascader-suffix-icon-color, @zmz-cascader-suffix-icon-color);
    .theme-var(--zmz-cascader-suffix-icon-size, @zmz-cascader-suffix-icon-size);
    .theme-var(--zmz-cascader-item-text-color, @zmz-cascader-item-text-color);
    .theme-var(--zmz-cascader-item-text-font-size, @zmz-cascader-item-text-font-size);
    .theme-var(--zmz-cascader-icon-color, @zmz-cascader-icon-color);
    .theme-var(--zmz-cascader-icon-size, @zmz-cascader-icon-size);
    .theme-var(--zmz-cascader-dropdown-border-color, @zmz-cascader-dropdown-border-color);
    .theme-var(--zmz-cascader-dropdown-background-color, @zmz-cascader-dropdown-background-color);
    .theme-var(--zmz-cascader-dropdown-box-shadow, @zmz-cascader-dropdown-box-shadow);
}

@{b}zmz-cascader {
    position: relative;

    @{m}disabled {
        .zmz-cascader__input {
            cursor: no-drop;
            opacity: 0.5;
        }
    }

    @{m}readonly {
        .zmz-cascader__input {
            cursor: initial;
        }
    }

    @{m}focus {
        .zmz-cascader__input {
            border-color: var(--zmz-cascader-border-active-color);
        }
    }

    @{m}open {
        .zmz-cascader__input {
            border-color: var(--zmz-cascader-border-active-color);
        }

        .zmz-cascader__wrap {
            .zmz-cascader__icon {
                transform: rotate(-180deg);
                transform-origin: 50% 50%;
            }
        }
    }

    @{m}size-large {
        .theme-var(--zmz-cascader-height, @global-large-size);
        .theme-var(--zmz-cascader-font-size, @global-large-font);
        .theme-var(--zmz-cascader-padding, @global-large-padding);
    }

    @{m}size-medium {
        .theme-var(--zmz-cascader-height, @global-medium-size);
        .theme-var(--zmz-cascader-font-size, @global-medium-font);
        .theme-var(--zmz-cascader-padding, @global-medium-padding);
    }

    @{m}size-default {
        .theme-var(--zmz-cascader-height, @global-default-size);
        .theme-var(--zmz-cascader-font-size, @global-default-font);
        .theme-var(--zmz-cascader-padding, @global-default-padding);
    }


    @{m}size-small {
        .theme-var(--zmz-cascader-height, @global-small-size);
        .theme-var(--zmz-cascader-font-size, @global-small-font);
        .theme-var(--zmz-cascader-padding, @global-small-padding);
    }

    @{m}size-mini {
        .theme-var(--zmz-cascader-height, @global-mini-size);
        .theme-var(--zmz-cascader-font-size, @global-mini-font);
        .theme-var(--zmz-cascader-padding, @global-mini-padding);
    }

    @{m}suffix {
        .zmz-cascader__input {
            padding-right: var(--zmz-cascader-height);
        }

        .zmz-cascader {
            @{e}suffix {
                position: absolute;
                right: 1px;
                top: 1px;
                bottom: 1px;
                width: var(--zmz-cascader-height);
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    @{m}prefix {
        .zmz-cascader__input {
            padding-left: var(--zmz-cascader-height);
        }

        .zmz-cascader {
            @{e}prefix {
                position: absolute;
                left: 1px;
                top: 1px;
                bottom: 1px;
                width: var(--zmz-cascader-height);
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    @{e}input {
        cursor: pointer;
        font-size: var(--zmz-cascader-font-size);
        display: block;
        border: 1px solid var(--zmz-cascader-border-color);
        padding: 0 var(--zmz-cascader-padding);
        border-radius: var(--zmz-cascader-border-radius);
        outline: 0;
        color: var(--zmz-cascader-text-color);
        height: var(--zmz-cascader-height);
        line-height: var(--zmz-cascader-height);
        background-color: var(--zmz-cascader-background-color);
        width: 100%;
        box-sizing: border-box;
        user-select: none;
        transition: border .2s;

        &::-webkit-input-placeholder {
            /* WebKit, Blink, Edge */
            color: var(--zmz-cascader-placeholder-color);
        }

        &:-moz-placeholder {
            /* Mozilla Firefox 4 to 18 */
            color: var(--zmz-cascader-placeholder-color);
        }

        &::-moz-placeholder {
            /* Mozilla Firefox 19+ */
            color: var(--zmz-cascader-placeholder-color);
        }

        &:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: var(--zmz-cascader-placeholder-color);
        }
    }

    @{e}toggle {
        display: flex;
        align-items: center;
        justify-content: center;

        .zmz-cascader__icon {
            transition: all 0.2s;
            transform: rotate(0deg);
            color: var(--zmz-cascader-suffix-icon-color);
            font-size: var(--zmz-cascader-suffix-icon-size);
        }
    }

    @{e}clear {
        transition: all 0.2s;
        transform: rotate(0deg);
        cursor: pointer;

        .zmz-cascader__icon {
            color: var(--zmz-cascader-suffix-icon-color);
            font-size: var(--zmz-cascader-suffix-icon-size);
        }
    }

    @{e}dropdown {
        display: flex;
        border: 1px solid var(--zmz-cascader-dropdown-border-color);
        border-radius: var(--zmz-cascader-border-radius);
        height: 200px;
        background: var(--zmz-cascader-dropdown-background-color);
        box-shadow: var(--zmz-cascader-dropdown-box-shadow);
    }

    @{e}panel {
        min-width: 180px;
        padding: 8px 0;
        border-right: 1px solid var(--zmz-cascader-border-color);
        overflow-y: auto;
    }

    @{e}item {
        font-size: 12px;
        line-height: var(--zmz-cascader-height);
        height: var(--zmz-cascader-height);
        padding: 0 15px;
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: all 0.3s ease;
        display: flex;
        align-items: center;
        position: relative;

        &:hover {
            background: #f4f5f9;
        }

        &.zmz-cascader__item--disabled {
            cursor: no-drop;
            opacity: 0.5;

            &:hover {
                cursor: no-drop;
                background: #fff;
            }
        }

        &.zmz-cascader__item--active {
            .zmz-cascader__item__text {
                color: var(--zmz-cascader-text-active-color);
                font-weight: bold;
            }
        }

        @{e}text {
            flex: 1;
            color: var(--zmz-cascader-item-text-color);
            font-size: var(--zmz-cascader-item-text-font-size);
        }

        .zmz-cascader__item__icon {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            font-size: var(--zmz-cascader-icon-size);
            color: var(--zmz-cascader-icon-color);
        }
    }
}


.zmz-teleportdom.zmz-teleportdom--cascader {
    &-white {

        &[data-popper-placement="top"],
        &[data-popper-placement="top-start"],
        &[data-popper-placement="top-end"] {
            transform-origin: center bottom;

            .zmz-teleportdom {
                &__arrow {
                    bottom: -6px;
                    border-width: 7px 7px 0px 7px;
                    border-top-color: rgba(75, 94, 114, 16%);

                    &:before {
                        bottom: 1px;
                        margin-left: -7px;
                        border-top-color: #fff;
                        border-bottom-width: 0
                    }
                }
            }
        }

        &[data-popper-placement="bottom"],
        &[data-popper-placement="bottom-start"],
        &[data-popper-placement="bottom-end"] {
            transform-origin: center top;

            .zmz-teleportdom {
                &__arrow {
                    top: -6px;
                    border-width: 0px 7px 7px 7px;
                    border-bottom-color: rgba(75, 94, 114, 16%);

                    &:before {
                        top: 1px;
                        margin-left: -7px;
                        border-bottom-color: #fff;
                        border-top-width: 0
                    }
                }
            }
        }

        &[data-popper-placement="left"],
        &[data-popper-placement="left-start"],
        &[data-popper-placement="left-end"] {
            transform-origin: right center;

            .zmz-teleportdom {
                &__arrow {
                    right: -6px;
                    border-width: 7px 0px 7px 7px;
                    border-left-color: rgba(75, 94, 114, 16%);

                    &:before {
                        right: 1px;
                        margin-top: -7px;
                        border-left-color: #fff;
                        border-right-width: 0
                    }
                }
            }
        }

        &[data-popper-placement="right"],
        &[data-popper-placement="right-start"],
        &[data-popper-placement="right-end"] {
            transform-origin: left center;

            .zmz-teleportdom {
                &__arrow {
                    left: -6px;
                    border-width: 7px 7px 7px 0;
                    border-right-color: rgba(75, 94, 114, 16%);

                    &:before {
                        left: 1px;
                        margin-top: -7px;
                        border-right-color: #fff;
                        border-left-width: 0
                    }
                }
            }
        }
    }
}