@charset "utf-8";
@import './common/index.less';

@font-face {
  font-family: "iconfont";
  src:
    url('./fonts/iconfont.woff2?t=15608598808201') format('woff2'),
    url('./fonts/iconfont.woff?t=15608598808201') format('woff'),
    url('./fonts/iconfont.ttf?t=15608598808201') format('truetype'),
}
// /* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
// @font-face {
//   font-family: 'iconfont';  /* Project id 1350552 */
//   src: url('//at.alicdn.com/t/c/font_1350552_t1bnly8csdq.woff2?t=1768465278172') format('woff2'),
//        url('//at.alicdn.com/t/c/font_1350552_t1bnly8csdq.woff?t=1768465278172') format('woff'),
//        url('//at.alicdn.com/t/c/font_1350552_t1bnly8csdq.ttf?t=1768465278172') format('truetype');
// }

[class^="zmz-icon"],
[class*="zmz-icon--"] {
  font-family: "iconfont" !important;
  font-style: normal;
  vertical-align: baseline;
  display: inline-block;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* //f细c粗d双s小l大g圆r实 */
@{b}zmz-icon {

  /* // 基础 */
  @{m}primary:before {
    content: "\e650";
  }

  @{m}primary-fill:before {
    content: "\e654";
  }

  @{m}primary-1:before {
    content: "\e636";
  }

  @{m}primary-1-fill:before {
    content: "\e6c3";
  }

  @{m}success:before {
    content: "\e65e";
  }

  @{m}success-fill:before {
    content: "\e632";
  }

  @{m}success-1:before {
    content: "\e6ab";
  }

  @{m}success-1-fill:before {
    content: "\e6ad";
  }

  @{m}warning:before {
    content: "\e7f3";
  }

  @{m}warning-fill:before {
    content: "\e7f4";
  }

  @{m}warning-1:before {
    content: "\e70f";
  }

  @{m}warning-1-fill:before {
    content: "\e61e";
  }

  @{m}warning-2:before {
    content: "\e696";
  }

  @{m}warning-2-fill:before {
    content: "\e698";
  }

  @{m}warning-3:before {
    content: "\e8b1";
  }

  @{m}warning-3-fill:before {
    content: "\e8b0";
  }

  @{m}warning-4:before {
    content: "\e8b4";
  }

  @{m}warning-4-fill:before {
    content: "\e8b2";
  }

  @{m}warning-5:before {
    content: "\e8b5";
  }

  @{m}warning-5-fill:before {
    content: "\e8b3";
  }

  @{m}error:before {
    content: "\e6d9";
  }

  @{m}error-fill:before {
    content: "\e683";
  }

  @{m}info:before {
    content: "\e641";
  }

  @{m}info-fill:before {
    content: "\e718";
  }

  @{m}close:before {
    content: "\e720";
  }

  @{m}close-fill:before {
    content: "\e721";
  }

  @{m}close-1:before {
    content: "\e6ba";
  }

  @{m}close-1-fill:before {
    content: "\e6b9";
  }

  @{m}close-2:before {
    content: "\e725";
  }

  @{m}close-2-fill:before {
    content: "\e724";
  }

  @{m}doubt:before {
    content: "\e64d";
  }

  @{m}doubt-fill:before {
    content: "\e658";
  }

  @{m}doubt-1:before {
    content: "\e65a";
  }

  @{m}doubt-1-fill:before {
    content: "\e695";
  }

  @{m}add-1:before {
    content: "\e65f";
  }

  @{m}wrong:before {
    content: "\e670";
  }

  /* // 后台 */
  @{m}home:before {
    content: "\e6a5";
  }

  @{m}console:before {
    content: "\e615";
  }

  @{m}monitor:before {
    content: "\e787";
  }

  @{m}dashboard:before {
    content: "\e705";
  }

  @{m}setup:before {
    content: "\e9b6";
  }

  @{m}database:before {
    content: "\e778";
  }

  @{m}check:before {
    content: "\e603";
  }

  @{m}menu:before {
    content: "\e66c";
  }

  @{m}loading:before {
    content: "\e85f";
  }

  @{m}sort:before {
    content: "\e618";
  }

  @{m}add:before {
    content: "\e6d5";
  }

  @{m}reduce:before {
    content: "\e60d";
  }

  @{m}reduce-1:before {
    content: "\e729";
  }

  @{m}del:before {
    content: "\e6ca";
  }

  @{m}del-fill:before {
    content: "\e6dd";
  }

  @{m}del-1:before {
    content: "\e710";
  }

  @{m}del-1-fill:before {
    content: "\e693";
  }

  @{m}topping:before {
    content: "\e60f";
  }

  @{m}edit:before {
    content: "\e605";
  }

  @{m}edit-1:before {
    content: "\eab6";
  }

  @{m}write:before {
    content: "\e60b";
  }

  @{m}enlarge:before {
    content: "\ec14";
  }

  @{m}narrow:before {
    content: "\ec13";
  }

  @{m}fullscreen:before {
    content: "\e824";
  }

  @{m}fullscreen-exit:before {
    content: "\e932";
  }

  @{m}equal:before {
    content: "\e912";
  }

  @{m}rotate-left:before {
    content: "\e6eb";
  }

  @{m}rotate-right:before {
    content: "\e6e2";
  }

  @{m}stars:before {
    content: "\e610";
  }

  @{m}search:before {
    content: "\e6e1";
  }

  @{m}upload:before {
    content: "\e629";
  }

  @{m}download:before {
    content: "\e62b";
  }

  @{m}menu-fold:before {
    content: "\e8e0";
  }

  @{m}menu-unfold:before {
    content: "\e8e6";
  }

  @{m}menu-fold--fill:before {
    content: "\e8f4";
  }

  @{m}menu-unfold--fill:before {
    content: "\e8f8";
  }

  @{m}bell:before {
    content: "\e62c";
  }

  @{m}translate-lang:before {
    content: "\ee83";
  }

  @{m}loop:before {
    content: "\e66d";
  }

  /* // 箭头 */
  @{m}arrow-bottom:before {
    content: "\e60a";
  }

  @{m}arrow-top:before {
    content: "\f1fc";
  }

  @{m}arrow-left:before {
    content: "\e73f";
  }

  @{m}arrow-right:before {
    content: "\f1fb";
  }

  @{m}doublearrow-bottom:before {
    content: "\e744";
  }

  @{m}doublearrow-top:before {
    content: "\e742";
  }

  @{m}doublearrow-left:before {
    content: "\e743";
  }

  @{m}doublearrow-right:before {
    content: "\e9ba";
  }

  @{m}arrow-left-fill:before {
    content: "\e9b8";
  }

  @{m}arrow-right-fill:before {
    content: "\f1fd";
  }

  @{m}arrow-top-fill:before {
    content: "\e98c";
  }

  @{m}arrow-bottom-fill:before {
    content: "\e98d";
  }

  /* // 播放器 */
  @{m}player-right:before {
    content: "\e600";
  }

  @{m}player-left:before {
    content: "\e9b7";
  }

  @{m}player-play:before {
    content: "\e6ac";
  }

  @{m}player-suspend:before {
    content: "\e601";
  }

  @{m}player-loop:before {
    content: "\f1f9";
  }

  @{m}player-single:before {
    content: "\f1fa";
  }

  @{m}player-random:before {
    content: "\f1f8";
  }

  @{m}player-lyric:before {
    content: "\e624";
  }

  @{m}player-volume:before {
    content: "\e6c0";
  }

  @{m}player-volume-mute:before {
    content: "\e6bf";
  }

  // 时间
  @{m}calendar:before {
    content: "\e659";
  }

  @{m}time:before {
    content: "\e635";
  }

  @{m}eye:before {
    content: "\ebcc";
  }

  @{m}eye-close:before {
    content: "\ebcd";
  }

  @{m}lock:before {
    content: "\e881";
  }

  @{m}lock-fill:before {
    content: "\e882";
  }

  @{m}unlock:before {
    content: "\e886";
  }

  @{m}unlock-fill:before {
    content: "\e883";
  }

  // 文本

  @{m}empty:before {
    content: "\e66a";
  }

  @{m}git:before {
    content: "\e6b7";
  }

  @{m}git-fill:before {
    content: "\e885";
  }

  @{m}npm:before {
    content: "\e74e";
  }

  @{m}npm-fill:before {
    content: "\e83c";
  }

  @{m}face:before {
    content: "\e6fe";
  }

  @{m}face-laugh:before {
    content: "\e700";
  }

  @{m}face-cry:before {
    content: "\e6ff";
  }

  @{m}back:before {
    content: "\e701";
  }

  @{m}tile-fill:before {
    content: "\e612";
  }

  @{m}tile:before {
    content: "\e616";
  }

  @{m}image:before {
    content: "\e645";
  }

  @{m}table:before {
    content: "\e63f";
  }

  @{m}view:before {
    content: "\e640";
  }

  @{m}position:before {
    content: "\e702";
  }

  @{m}layout:before {
    content: "\e61a";
  }

  @{m}data:before {
    content: "\e8b9";
  }

  @{m}data-fill:before {
    content: "\e8c6";
  }

  @{m}more:before {
    content: "\e692";
  }

  @{m}more-fill:before {
    content: "\e62e";
  }

  @{m}user-setting:before {
    content: "\e619";
  }

  @{m}user-setting-fill:before {
    content: "\e623";
  }

  @{m}user-center:before {
    content: "\e79e";
  }

  @{m}user-center-fill:before {
    content: "\e7a0";
  }

  @{m}user:before {
    content: "\e8c8";
  }

  @{m}user-fill:before {
    content: "\e8c9";
  }

  @{m}user-group:before {
    content: "\e657";
  }

  @{m}user-group-fill:before {
    content: "\e6bb";
  }

  @{m}user-role:before {
    content: "\e6af";
  }

  @{m}file-setting:before {
    content: "\e63a";
  }

  @{m}file-setting-fill:before {
    content: "\e639";
  }

  @{m}task:before {
    content: "\e66f";
  }

  @{m}task-fill:before {
    content: "\e6b8";
  }

  @{m}dict:before {
    content: "\e62f";
  }

  @{m}dict-fill:before {
    content: "\e651";
  }

  @{m}tool:before {
    content: "\e694";
  }

  @{m}tool-fill:before {
    content: "\e679";
  }

  @{m}menu-1:before {
    content: "\e60c";
  }

  @{m}menu-1-fill:before {
    content: "\e622";
  }

  @{m}shoppingcart:before {
    content: "\e61d";
  }

  @{m}shoppingcart-fill:before {
    content: "\e7a5";
  }

  @{m}ppt:before {
    content: "\ea47";
  }

  @{m}ppt-fill:before {
    content: "\ea48";
  }

  @{m}ppt-1:before {
    content: "\e95e";
  }

  @{m}ppt-1-fill:before {
    content: "\e648";
  }

  @{m}word:before {
    content: "\ea4a";
  }

  @{m}word-fill:before {
    content: "\ea49";
  }

  @{m}word-1:before {
    content: "\e7ba";
  }

  @{m}word-1-fill:before {
    content: "\e858";
  }

  @{m}excel:before {
    content: "\ea45";
  }

  @{m}excel-fill:before {
    content: "\ea46";
  }

  @{m}excel-1:before {
    content: "\e7b7";
  }

  @{m}excel-1-fill:before {
    content: "\e857";
  }

  @{m}pdf:before {
    content: "\ea43";
  }

  @{m}pdf-fill:before {
    content: "\ea44";
  }

  @{m}pdf-1:before {
    content: "\e665";
  }

  @{m}pdf-1-fill:before {
    content: "\e63b";
  }

  @{m}water:before {
    content: "\e67a";
  }

  @{m}water-fill:before {
    content: "\e682";
  }

  @{m}move:before {
    content: "\e653";
  }

  @{m}move-fill:before {
    content: "\e726";
  }

  @{m}echart:before {
    content: "\e61c";
  }

  @{m}echart-fill:before {
    content: "\e9b0";
  }

  @{m}copy:before {
    content: "\e667";
  }

  @{m}copy-fill:before {
    content: "\e697";
  }

  @{m}copy-1:before {
    content: "\e884";
  }

  @{m}copy-1-fill:before {
    content: "\e879";
  }

  @{m}copy-2:before {
    content: "\e63c";
  }

  @{m}copy-2-fill:before {
    content: "\e630";
  }

  @{m}copy-3:before {
    content: "\ea30";
  }

  @{m}copy-3-fill:before {
    content: "\ea2f";
  }

  @{m}copy-4:before {
    content: "\e89b";
  }

  @{m}copy-4-fill:before {
    content: "\e89a";
  }

  @{m}copy-5:before {
    content: "\e7b0";
  }

  @{m}copy-5-fill:before {
    content: "\e7b1";
  }

  @{m}copy-6:before {
    content: "\e671";
  }

  @{m}copy-6-fill:before {
    content: "\e708";
  }

  @{m}copy-7:before {
    content: "\e625";
  }

  @{m}copy-7-fill:before {
    content: "\e621";
  }

  @{m}copy-8:before {
    content: "\e669";
  }

  @{m}copy-8-fill:before {
    content: "\e63d";
  }

  @{m}sun:before {
    content: "\e747";
  }

  @{m}sun-fill:before {
    content: "\e748";
  }

  @{m}sun-1:before {
    content: "\e713";
  }

  @{m}sun-1-fill:before {
    content: "\e712";
  }

  @{m}moon:before {
    content: "\e61f";
  }

  @{m}moon-fill:before {
    content: "\e620";
  }

  @{m}moon-1:before {
    content: "\e6c2";
  }

  @{m}moon-1-fill:before {
    content: "\e6c1";
  }

  @{m}moon-2:before {
    content: "\e745";
  }

  @{m}moon-2-fill:before {
    content: "\e746";
  }

  @{m}run:before {
    content: "\e672";
  }

  @{m}run-fill:before {
    content: "\e6f2";
  }

  @{m}camera:before {
    content: "\e7ef";
  }

  @{m}camera-fill:before {
    content: "\e7ee";
  }

  @{m}camera-1:before {
    content: "\e9ed";
  }

  @{m}camera-1-fill:before {
    content: "\e9f3";
  }

  @{m}camera-2:before {
    content: "\e7ac";
  }

  @{m}camera-2-fill:before {
    content: "\e7ab";
  }

  @{m}camera-3:before {
    content: "\e957";
  }

  @{m}camera-3-fill:before {
    content: "\e958";
  }

  @{m}camera-4:before {
    content: "\e750";
  }

  @{m}camera-4-fill:before {
    content: "\e751";
  }

  @{m}camera-close:before {
    content: "\e875";
  }

  @{m}camera-close-fill:before {
    content: "\e866";
  }

  @{m}share:before {
    content: "\e674";
  }

  @{m}share-fill:before {
    content: "\e673";
  }

  @{m}video:before {
    content: "\e6d3";
  }

  @{m}video-fill:before {
    content: "\e656";
  }

  @{m}video-1:before {
    content: "\e6a3";
  }

  @{m}video-1-fill:before {
    content: "\e64c";
  }

  @{m}save:before {
    content: "\e8c7";
  }

  @{m}save-fill:before {
    content: "\e8ca";
  }

  @{m}save-1:before {
    content: "\e602";
  }

  @{m}save-1-fill:before {
    content: "\ea6f";
  }

  @{m}exit:before {
    content: "\e6ee";
  }

  @{m}exit-fill:before {
    content: "\e626";
  }

  @{m}exit-1:before {
    content: "\e652";
  }

  @{m}exit-1-fill:before {
    content: "\e684";
  }

  @{m}line:before {
    content: "\e6c4";
  }

  @{m}bar:before {
    content: "\e65b";
  }

  @{m}pie:before {
    content: "\eb95";
  }

  @{m}scatter:before {
    content: "\e80e";
  }

  @{m}candlestick:before {
    content: "\e6d4";
  }

  @{m}radar:before {
    content: "\e716";
  }

  @{m}boxplot:before {
    content: "\e699";
  }

  @{m}heatmap:before {
    content: "\e61b";
  }

  @{m}graph:before {
    content: "\e770";
  }

  @{m}lines:before {
    content: "\ea33";
  }

  @{m}map:before {
    content: "\e8ad";
  }

  @{m}tree:before {
    content: "\e69a";
  }

  @{m}treemap:before {
    content: "\e677";
  }

  @{m}sunburst:before {
    content: "\e67b";
  }

  @{m}parallel:before {
    content: "\e685";
  }

  @{m}sankey:before {
    content: "\e865";
  }

  @{m}funnel:before {
    content: "\e690";
  }

  @{m}gauge:before {
    content: "\e772";
  }

  @{m}pictorialbar:before {
    content: "\e689";
  }

  @{m}themeriver:before {
    content: "\e680";
  }

  @{m}calendar:before {
    content: "\e655";
  }

  @{m}matrix:before {
    content: "\ed09";
  }

  @{m}chord:before {
    content: "\e67e";
  }

  @{m}custom:before {
    content: "\e6bc";
  }

  @{m}dataset:before {
    content: "\e613";
  }

  @{m}datazoom:before {
    content: "\e681";
  }

  @{m}graphic:before {
    content: "\e6a6";
  }

  @{m}rich:before {
    content: "\e611";
  }

  @{m}globe3d:before {
    content: "\e62d";
  }

  @{m}bar3d:before {
    content: "\e80d";
  }

  @{m}scatter3d:before {
    content: "\e609";
  }

  @{m}surface3d:before {
    content: "\e66b";
  }

  @{m}map3d:before {
    content: "\e660";
  }

  @{m}lines3d:before {
    content: "\e65d";
  }

  @{m}line3d:before {
    content: "\e69d";
  }

  @{m}man:before {
    content: "\e6b4";
  }

  @{m}woman:before {
    content: "\e637";
  }

  @{m}birthday:before {
    content: "\e80f";
  }

  @{m}org:before {
    content: "\e675";
  }

  @{m}locate:before {
    content: "\e631";
  }

  @{m}code:before {
    content: "\e628";
  }

  @{m}demo-template:before {
    content: "\e604";
  }

  @{m}demo-javascript:before {
    content: "\e846";
  }

  @{m}demo-style:before {
    content: "\e688";
  }

  // 文件类型

  @{m}folder-fill:before {
    content: "\e68e";
  }

  @{m}folder-fill-open:before {
    content: "\e68d";
  }

  @{m}folder-add:before {
    content: "\e661";
  }

  @{m}folder-del:before {
    content: "\e662";
  }

  @{m}folder-add-fill:before {
    content: "\e704";
  }

  @{m}folder-del-fill:before {
    content: "\e6fd";
  }

  @{m}file-add:before {
    content: "\e847";
  }

  @{m}file-del:before {
    content: "\e607";
  }

  @{m}file-add-fill:before {
    content: "\e818";
  }

  @{m}file-del-fill:before {
    content: "\e62a";
  }

  @{m}html:before {
    content: "\e8dd";
  }

  @{m}css:before {
    content: "\e663";
  }

  @{m}js:before {
    content: "\e74f";
  }

  @{m}php:before {
    content: "\e67f";
  }

  @{m}python:before {
    content: "\ec18";
  }

  @{m}java:before {
    content: "\e6e0";
  }

  @{m}png:before {
    content: "\e634";
  }

  @{m}jpg:before {
    content: "\e638";
  }

  @{m}svg:before {
    content: "\e676";
  }

  @{m}file:before {
    content: "\e646";
  }

  @{m}file-fill:before {
    content: "\e642";
  }

  @{m}feedback:before {
    content: "\e860";
  }

  @{m}message-1:before {
    content: "\e666";
  }

  @{m}message-1-fill:before {
    content: "\e993";
  }

  @{m}message-2:before {
    content: "\e727";
  }

  @{m}message-2-fill:before {
    content: "\e73c";
  }

  @{m}link:before {
    content: "\e63e";
  }
}
