@charset "utf-8";
@import './common/index.less';

@{b}zmz-scrollbar {
    overflow: hidden;
    position: relative;
    
    &:hover, &:focus, &:active {
        & > @{b}zmz-scrollbar {
            @{e}bar {
                opacity: 1;
                transition: opacity 0.3s ease-out;
            }
        }
    }
    
    @{e}wrap {
        overflow: hidden;
        overflow-y: scroll;
        overflow-x: hidden;
        height: 100%;
        
        @{e}hidden-default {
            margin-right: -17px;
            margin-bottom: -17px;
        }
        
        @{m}native {
            overflow-x: initial;
        }
    }
    
    @{e}bar {
        position: absolute;
        right: 2px;
        bottom: 2px;
        z-index: 1;
        border-radius: 4px;
        opacity: 0;
        transition: opacity 0.1s ease-out;
        &.zmz-scrollbar__bar--show {
            opacity: 1;
        }
        
        @{m}vertical > .zmz-scrollbar__bar__thumb {
            width: 100%;
        }
        
        @{m}vertical {
            width: 6px;
            top: 2px;
        }
        
        @{m}horizontal > .zmz-scrollbar__bar__thumb {
            height: 100%;
        }
        
        @{m}horizontal {
            height: 6px;
            left: 2px;
        }
        
        @{e}thumb {
            position: relative;
            display: block;
            width: 0;
            height: 0;
            cursor: pointer;
            border-radius: inherit;
            background-color: rgba(144,147,153,0.3);
            transition: background-color 0.2s;
        }
    }
}
