@charset "utf-8";
@import './common/index.less';

@{b}zmz-teleportdom {

    @{m}model {
        position: fixed;
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @{e}arrow {
        border-width: 6px;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;

        &:before {
            content: " ";
            border-width: 7px;
            position: absolute;
            display: block;
            width: 0;
            height: 0;
            border-color: transparent;
            border-style: solid
        }
    }

    &[data-popper-placement="top"],
    &[data-popper-placement="top-start"],
    &[data-popper-placement="top-end"] {
        .zmz-teleportdom {
            &__arrow {
                bottom: -6px;
                border-width: 7px 7px 0px 7px;
                border-top-color: #4a5d71;

                &:before {
                    bottom: 1px;
                    margin-left: -7px;
                    border-top-color: #4a5d71;
                    border-bottom-width: 0
                }
            }
        }
    }

    &[data-popper-placement="bottom"],
    &[data-popper-placement="bottom-start"],
    &[data-popper-placement="bottom-end"] {
        .zmz-teleportdom {
            &__arrow {
                top: -6px;
                border-width: 0px 7px 7px 7px;
                border-bottom-color: #4a5d71;

                &:before {
                    top: 1px;
                    margin-left: -7px;
                    border-bottom-color: #4a5d71;
                    border-top-width: 0
                }
            }
        }
    }

    &[data-popper-placement="left"],
    &[data-popper-placement="left-start"],
    &[data-popper-placement="left-end"] {
        .zmz-teleportdom {
            &__arrow {
                right: -6px;
                border-width: 7px 0px 7px 7px;
                border-left-color: #4a5d71;

                &:before {
                    right: 1px;
                    margin-top: -7px;
                    border-left-color: #4a5d71;
                    border-right-width: 0
                }
            }
        }
    }

    &[data-popper-placement="right"],
    &[data-popper-placement="right-start"],
    &[data-popper-placement="right-end"] {
        .zmz-teleportdom {
            &__arrow {
                left: -6px;
                border-width: 7px 7px 7px 0;
                border-right-color: #4a5d71;

                &:before {
                    left: 1px;
                    margin-top: -7px;
                    border-right-color: #4a5d71;
                    border-left-width: 0
                }
            }
        }
    }
}

// 遮罩层
@{b}zmz-teleport-mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);
}