@charset "utf-8";
@import './common/index.less';

@zmz-timeaxis-padding-bottom: 30px;
@zmz-timeaxis-node-color: #e0e0e0;
@zmz-timeaxis-node-size: 14px;
@zmz-timeaxis-node-border-radius: 50%;
@zmz-timeaxis-line-size: 2px;
@zmz-timeaxis-line-style: solid;
@zmz-timeaxis-title-font-size: 14px;
@zmz-timeaxis-title-color: @global-theme-default;
@zmz-timeaxis-date-margin-top: 5px;
@zmz-timeaxis-date-font-size: 12px;
@zmz-timeaxis-date-color: @global-theme-info;
@zmz-timeaxis-content-font-size: 12px;
@zmz-timeaxis-content-color: @global-theme-default;


@{b}zmz-timeaxis {
    .theme-var(--zmz-timeaxis-padding-bottom, @zmz-timeaxis-padding-bottom);
    .theme-var(--zmz-timeaxis-node-size, @zmz-timeaxis-node-size);
    .theme-var(--zmz-timeaxis-node-color, @zmz-timeaxis-node-color);
    .theme-var(--zmz-timeaxis-node-border-radius, @zmz-timeaxis-node-border-radius);
    .theme-var(--zmz-timeaxis-line-size, @zmz-timeaxis-line-size);
    .theme-var(--zmz-timeaxis-line-style, @zmz-timeaxis-line-style);
    .theme-var(--zmz-timeaxis-title-font-size, @zmz-timeaxis-title-font-size);
    .theme-var(--zmz-timeaxis-title-color, @zmz-timeaxis-title-color);
    .theme-var(--zmz-timeaxis-date-margin-top, @zmz-timeaxis-date-margin-top);
    .theme-var(--zmz-timeaxis-date-color, @zmz-timeaxis-date-color);
    .theme-var(--zmz-timeaxis-date-font-size, @zmz-timeaxis-date-font-size);
    .theme-var(--zmz-timeaxis-content-color, @zmz-timeaxis-content-color);
    .theme-var(--zmz-timeaxis-content-font-size, @zmz-timeaxis-content-font-size);
}

@{b}zmz-timeaxis {
    @{e}item {
        position: relative;
        padding-bottom: var(--zmz-timeaxis-padding-bottom);

        &:last-child {
            padding-bottom: 0;

            .zmz-timeaxis__line {
                display: none;
            }
        }

        @{e}wrap {
            display: flex;
            flex-direction: column;
            padding-left: 20px;
            position: relative;
            top: -3px;
        }
    }

    @{e}node {
        width: var(--zmz-timeaxis-node-size);
        height: var(--zmz-timeaxis-node-size);
        top: 0;
        left: -1px;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--zmz-timeaxis-node-color);
        border-radius: var(--zmz-timeaxis-node-border-radius);
        z-index: 1;


        &.zmz-timeaxis__node {
            @{e}icon {
                font-size: var(--zmz-timeaxis-node-size);
            }

            @{m}primary {
                .theme-var(--zmz-timeaxis-node-color, @global-theme-primary);
            }

            @{m}success {
                .theme-var(--zmz-timeaxis-node-color, @global-theme-success);
            }

            @{m}warning {
                .theme-var(--zmz-timeaxis-node-color, @global-theme-warning);
            }

            @{m}error {
                .theme-var(--zmz-timeaxis-node-color, @global-theme-error);
            }

            @{m}info {
                .theme-var(--zmz-timeaxis-node-color, @global-theme-info);
            }
        }
    }

    @{e}line {
        position: absolute;
        left: calc(var(--zmz-timeaxis-node-size) / 2 - var(--zmz-timeaxis-line-size));
        height: 100%;
        border-left: var(--zmz-timeaxis-line-size) var(--zmz-timeaxis-line-style) var(--zmz-timeaxis-node-color);
    }

    @{e}title {
        font-size: var(--zmz-timeaxis-title-font-size);
        color: var(--zmz-timeaxis-title-color);
    }

    @{e}date {
        font-size: var(--zmz-timeaxis-date-font-size);
        margin-top: var(--zmz-timeaxis-date-margin-top);
        color: var(--zmz-timeaxis-date-color);
    }


    @{e}content {
        font-size: var(--zmz-timeaxis-content-font-size);
        color: var(--zmz-timeaxis-content-color);
    }

}