// -------------------------------------------------------------------------------------------旋转
// --------------------------rotateLeft
// 进入开始
.zmz-rotate-enter-from {
  opacity: 0;
  transform: rotate(200deg);
}

.zmz-rotate-enter,
.zmz-rotate-enter-active {
  opacity: 0;
  transform: rotate(200deg);
  transition: transform 600ms ease, opacity 600ms ease;
  transform-origin: center center;
}

//进入结束
.zmz-rotate-enter-to {
  opacity: 1;
  transform: rotate(0deg);
}

//离开开始
.zmz-rotate-leave-from {
  opacity: 1;
  transform: rotate(0deg);
}

//离开激活
.zmz-rotate-leave,
.zmz-rotate-leave-active {
  opacity: 1;
  transform: rotate(200deg);
  transition: transform 600ms ease, opacity 600ms ease;
  transform-origin: center center;
}

//离开结束
.zmz-rotate-leave-to {
  opacity: 0;
  transform: rotate(200deg);
}

// --------------------------rotateTopLeft
// 进入开始
.zmz-rotate-top-left-enter-from {
  opacity: 0;
  transform: rotate(-90deg);
}

.zmz-rotate-top-left-enter,
.zmz-rotate-top-left-enter-active {
  opacity: 0;
  transform: rotate(-90deg);
  transition: transform 600ms ease, opacity 600ms ease;
  transform-origin: left top;
}

//进入结束
.zmz-rotate-top-left-enter-to {
  opacity: 1;
  transform: rotate(0deg);
}

//离开开始
.zmz-rotate-top-left-leave-from {
  opacity: 1;
  transform: rotate(0deg);
}

//离开激活
.zmz-rotate-top-left-leave,
.zmz-rotate-top-left-leave-active {
  opacity: 1;
  transform: rotate(-90deg);
  transition: transform 600ms ease, opacity 600ms ease;
  transform-origin: left top;
}

//离开结束
.zmz-rotate-top-left-leave-to {
  opacity: 0;
  transform: rotate(-90deg);
}

// --------------------------rotateTopRight
// 进入开始
.zmz-rotate-top-right-enter-from {
  opacity: 0;
  transform: rotate(90deg);
}

.zmz-rotate-top-right-enter,
.zmz-rotate-top-right-enter-active {
  opacity: 0;
  transform: rotate(90deg);
  transition: transform 600ms ease, opacity 600ms ease;
  transform-origin: right top;
}

//进入结束
.zmz-rotate-top-right-enter-to {
  opacity: 1;
  transform: rotate(0deg);
}

//离开开始
.zmz-rotate-top-right-leave-from {
  opacity: 1;
  transform: rotate(0deg);
}

//离开激活
.zmz-rotate-top-right-leave,
.zmz-rotate-top-right-leave-active {
  opacity: 1;
  transform: rotate(90deg);
  transition: transform 600ms ease, opacity 600ms ease;
  transform-origin: right top;
}

//离开结束
.zmz-rotate-top-right-leave-to {
  opacity: 0;
  transform: rotate(90deg);
}

// --------------------------rotateBottomRight
// 进入开始
.zmz-rotate-bottom-right-enter-from {
  opacity: 0;
  transform: rotate(-90deg);
}

.zmz-rotate-bottom-right-enter,
.zmz-rotate-bottom-right-enter-active {
  opacity: 0;
  transform: rotate(-90deg);
  transition: transform 600ms ease, opacity 600ms ease;
  transform-origin: right bottom;
}

//进入结束
.zmz-rotate-bottom-right-enter-to {
  opacity: 1;
  transform: rotate(0deg);
}

//离开开始
.zmz-rotate-bottom-right-leave-from {
  opacity: 1;
  transform: rotate(0deg);
}

//离开激活
.zmz-rotate-bottom-right-leave,
.zmz-rotate-bottom-right-leave-active {
  opacity: 1;
  transform: rotate(-90deg);
  transition: transform 600ms ease, opacity 600ms ease;
  transform-origin: right bottom;
}

//离开结束
.zmz-rotate-bottom-right-leave-to {
  opacity: 0;
  transform: rotate(-90deg);
}

// --------------------------rotateBottomLeft
// 进入开始
.zmz-rotate-bottom-left-enter-from {
  opacity: 0;
  transform: rotate(90deg);
}

.zmz-rotate-bottom-left-enter,
.zmz-rotate-bottom-left-enter-active {
  opacity: 0;
  transform: rotate(90deg);
  transition: transform 600ms ease, opacity 600ms ease;
  transform-origin: left bottom;
}

//进入结束
.zmz-rotate-bottom-left-enter-to {
  opacity: 1;
  transform: rotate(0deg);
}

//离开开始
.zmz-rotate-bottom-left-leave-from {
  opacity: 1;
  transform: rotate(0deg);
}

//离开激活
.zmz-rotate-bottom-left-leave,
.zmz-rotate-bottom-left-leave-active {
  opacity: 1;
  transform: rotate(90deg);
  transition: transform 600ms ease, opacity 600ms ease;
  transform-origin: left bottom;
}

//离开结束
.zmz-rotate-bottom-left-leave-to {
  opacity: 0;
  transform: rotate(90deg);
}
