//-----------------------------------基础色 start -----------------------------------
// 基础白色
@global-basic-white: #fff;
// 基础黑色
@global-basic-black: #000000;
// 基础透明
@global-basic-transparent: transparent;


@global-basic-routine-text-color: #606266;
@global-basic-placeholder-text-color: #c5cbd3;
@global-basic-border-color: #DCDFE6;

// 主文本
@global-basic-main-text-color: #1D2129;
// 次文本
@global-basic-secondary-text-color: #4E5969;
// 弱文本
@global-basic-weak-text-color: #86909C;
// 禁用文本
@global-basic-disable-text-color: #C9CDD4;

// 强边框
@global-basic-strong-border-color: #DCDFE6;
// 弱边框
@global-basic-weak-border-color: #DCDFE6;
// 极弱边框
@global-basic-extremely-weak-border-color: #DCDFE6;

// 占位符背景
@global-basic-placeholder-background-color: #F2F3F5;
// 卡片背景
@global-basic-card-background-color: #FFFFFF;
// 页面背景
@global-basic-page-background-color: #F7F8FA;

//-----------------------------------基础色 end -----------------------------------
@global-theme: #2d8ff4;
//
//-----------------------------------主题色 start -----------------------------------
// 默认色
@global-theme-default: #1D2129; // 新
// 主色
@global-theme-primary: #1890ff; // 新
// 成功色
@global-theme-success: #4CAF50; // 新
// 警告色
@global-theme-warning: #ff9900; // 新
// 失败色
@global-theme-error: #f32d26; // 新
// 消息色
@global-theme-info: #8c8c8c; // 新
//-----------------------------------主题色 end -----------------------------------
//
//
//
//-----------------------------------尺寸 start -----------------------------------
// 尺寸
@global-large-size: 40px;
@global-large-font: 14px;
@global-large-padding: 12px;
// 中
@global-medium-size: 36px;
@global-medium-font: 14px;
@global-medium-padding: 10px;
// 默认
@global-default-size: 32px;
@global-default-font: 12px;
@global-default-padding: 8px;
// 小
@global-small-size: 28px;
@global-small-font: 12px;
@global-small-padding: 6px;
// 迷你
@global-mini-size: 24px;
@global-mini-font: 12px;
@global-mini-padding: 3px;
//-----------------------------------尺寸 end -----------------------------------
//
//
//
//-----------------------------------文本 start -----------------------------------
// 文字颜色
@global-text-color: #3f536e;
// 背景颜色
@global-color-background-default: #fff;
// 字体大小
@global-font-size: 12px;
@global-font-size2: 14px;

// 字体粗细
@global-font-weight: 500;
//-----------------------------------文本 end -----------------------------------
//
//
//
//-----------------------------------边线 start -----------------------------------
// 基础边线宽度默认
@global-border-width: 1px;
@global-border-color: @global-basic-strong-border-color; // 新
@global-border-style: solid; // 新
@global-hover-border-color: #d2d5dc;
@global-border-color2: #f1f1f1;
@global-border-radius: 3px;
@global-border-radiusRound: 50%;
//-----------------------------------边线 start -----------------------------------
//
//
//
//-----------------------------------盒子 start -----------------------------------
// 内边距
@global-box-padding: 12px;
@global-box-padding2: 15px;
@global-box-padding3: 40px;
@global-box-padding4: 30px;
@global-box-padding5: 20px;

// 外边距
@global-box-margin: 5px;
// 阴影
@global-box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.15);
@global-box-shadow2: 0 2px 12px 0 #b1b1b1;

//-----------------------------------盒子 end -----------------------------------
//
//
//
//-----------------------------------动画 start -----------------------------------
// 过度
@global-time-transition: 0.2s;
// 动画
@global-time-animation: 0.2s;
//-----------------------------------动画 end -----------------------------------
//
//
//
//-----------------------------------禁用 start -----------------------------------
// 透明
@global-disabled-opacity: .6;
// 指针
@global-disabled-cursor: not-allowed;
//-----------------------------------禁用 end -----------------------------------
//
//
//
//-----------------------------------加载 start -----------------------------------
// 透明
@global-loading-opacity: .6;
//-----------------------------------加载 end -----------------------------------
//
//
//
//-----------------------------------定位 start -----------------------------------
// 透明
@global-position-zindex: 5;
@global-position-zindex2: 1;

//-----------------------------------定位 end -----------------------------------
//
//
//
//-----------------------------------input start -----------------------------------
// 占位符
@global-placeholder-color: rgba(@global-theme-default, 0.5);
// 背景颜色
@global-color-background-default: #fff;
// 字体大小
@global-font-size: 12px;
@global-font-size2: 14px;

// 字体粗细
@global-font-weight: 500;
//-----------------------------------input end -----------------------------------
